html {
  font-size: 62.5%; //10/15*100
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}
